<%= render 'navbar' %>
<section
		class="bg-gray-100 border border-top:gray-200 md:border-none md:p-10 w-full flex flex-col md:flex-row gap-2">
		<div class="flex flex-col gap-3 w-full md:w-1/4">
			<div class="bg-white rounded-sm p-4 flex flex-col gap-3 w-full">
				<div class="flex items-center gap-4 justify-center">
					
					<p class="font-bold text-2xl text-gray-700 line-clamp-3 text-center">
						<%= @user.firstname %> <%= @user.lastname %> 
					</p>
				</div>
				<span class="border border-gray-200 rounded-md p-5"><%= @user.firstname %></span>
				<span class="border border-gray-200 rounded-md p-5">
					<%= @user.lastname %>
				</span>
				<span class="border border-gray-200 rounded-md p-5 line-clamp-3">
					<%= @user.email %>
				</span>
				<span class="border border-gray-200 rounded-md p-5">
					<%= @user.phone_number %>
				</span>
			</div>
			<div class="bg-white rounded-sm p-6 flex flex-col gap-5 w-full text-center">
				<h2 class="font-bold text-center mb-3">Delete account</h2>
				<p>
					<span>
						ATTENTION! All of your data will be definitely and irreversibly
						deleted
					</span>
					<br />
					Please tick both boxes
				</p>
				<button class = "text-gray-600 bg-blue-600 rounded-md p-5 flex
					items-center justify-center gap-4 confirm-delete" >
					<span class="font-medium">Delete my account</span>
				</button>
				<button>
					<span>
						<%= button_to "Delete my account", cancel_user_registration_path, class:"text-gray-600 bg-gray-100 rounded-lg p-2 flex items-center justify-center gap-4 delete" %></span>
				</button>
			</div>
		</div>
		<div class="w-full md:flex-1 flex flex-col gap-3">
			<div
				class="border border-gray-200 rounded-md flex flex-col md:flex-row  justify-between p-5 overflow-hidden gap-4">
				<div
					class="bg-white rounded-md p-2 md:w-1/4 w-full text-center flex flex-col justify-center font-bold text-gray-500">
					<h2>Current Balance</h2>
					<span >$ <%= @user.balance %></span>
				</div>
				<div
					class="bg-white rounded-md p-2  md:w-1/4 w-full text-center flex flex-col justify-center font-bold text-gray-500">
					<h2>Total Refer Earn</h2>
					<span>$ <%= @user.bonus %></span>
				</div>
				<div class="bg-white rounded-md p-4 flex flex-col items-center gap-2  md:w-1/2 w-full text-center">
					<span class="text-sm text-gray-600">
						Refer people you know and earn
					</span>
					<Link to="referral"
						class="text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-800 rounded-md border border-blue-600 p-2 px-10">
					Earn money
					</Link>
				</div>
			</div>
			<div class="bg-white border border-gray-200 rounded-sm w-full p-8 text-gray-600 flex flex-col gap-3">
				<h2 class="font-bold text-2xl text-center">
					3 steps to to cash out more
				</h2>
				<div class="flex flex-col md:flex-row w-full md:items-baseline justify-between gap-7 mt-7">
					<div class="flex flex-col items-center justify-center gap-3">
						<p class="text-center">
							Share your link with your friends
						</p>
					</div>
					<div class="flex  flex-col justify-center items-center gap-3">
						<p class="text-center">
							Your friend signs up to Loom & gets verified
						</p>
					</div>
					<div class="flex flex-col items-center justify-center gap-3">
						<p class="text-center">
							You get instant $100 in your account
						</p>
					</div>
				</div>
			</div>
		</div>
</section>
<%= render 'shared/footer' %>